.TARGET{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9001;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.TARGET.is-hidden{
  display: none;
}

.TARGET .CONTAINER{
  background-color: GUTTERCOLOR;
}

.TARGET .CONTAINER, .TARGET [class*="COLUMN"], .TARGET .VOID{
  height: 100%;
  box-sizing: border-box;
}

.TARGET .VOID .VOID{
  transform: translateY(-100%);
}

.TARGET [class*="COLUMN"]::before{
  content:'';
  display: block;
  width: 100%;
  background-color: COLUMNCOLOR;
  height: 100%;
}
