.js-grid-helper{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.js-grid-helper.is-hidden{
  display: none;
}

.js-grid-helper .CONTAINER{
  background: rgba(0, 162, 216, 0.16);
}

.js-grid-helper .CONTAINER, .js-grid-helper [class*="COLUMN"], .js-grid-helper .VOID{
  height: 100%;
  box-sizing: border-box;
}

.js-grid-helper .VOID .VOID{
  transform: translateY(-100%);
}

.js-grid-helper [class*="COLUMN"]::before{
    content:'';
    display: block;
    width: 100%;
    background: rgba(36, 162, 216, 0.14);
    height: 100%;
}
